@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #eddde3;
  color: #212121;
}
